<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">


	<bean id="address" class="com.beans.Address">
		<property name="landmark" value="Pune"></property>
	</bean>

	<bean id="stud" class="com.beans.Student">
		<property name="address">
			<ref bean="address" />
		</property>
		<property name="age" value="23"></property>
		<property name="mobileNos">
			<list>
				<value>989856899</value>
				<value>456456576</value>
			</list>
		</property>
	</bean>
</beans>